In [40]:
import pandas as pd
import sklearn as sk

# datadf = pd.read_csv('../data/MBTIdata')
# 원본 데이터 
df = pd.read_csv('./data/MBTI 500.csv')

In [2]:
# 모든데이터
totaldf = df
def mbtipart(lst):
    global totaldf 

    for alpha in lst:
        newdf = df[df['type'].str.contains(alpha)]
        newdf['type2'] = alpha

        totaldf = pd.concat([totaldf, newdf])

mbtipart(['I', 'E', 'S', 'N', 'T', 'F', 'J', 'P'])

C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\2510611064.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['type2'] = alpha

In [20]:
totaldf.head()

                                               posts  type type2
0  know intj tool use interaction people excuse a...  INTJ   NaN
1  rap music ehh opp yeah know valid well know fa...  INTJ   NaN
2  preferably p hd low except wew lad video p min...  INTJ   NaN
3  drink like wish could drink red wine give head...  INTJ   NaN
4  space program ah bad deal meing freelance max ...  INTJ   NaN

In [22]:
totaldf = totaldf.dropna()

totaldf.head()

                                               posts  type type2
0  know intj tool use interaction people excuse a...  INTJ     I
1  rap music ehh opp yeah know valid well know fa...  INTJ     I
2  preferably p hd low except wew lad video p min...  INTJ     I
3  drink like wish could drink red wine give head...  INTJ     I
4  space program ah bad deal meing freelance max ...  INTJ     I

In [3]:
totaldf.head()

                                               posts  type type2
0  know intj tool use interaction people excuse a...  INTJ   NaN
1  rap music ehh opp yeah know valid well know fa...  INTJ   NaN
2  preferably p hd low except wew lad video p min...  INTJ   NaN
3  drink like wish could drink red wine give head...  INTJ   NaN
4  space program ah bad deal meing freelance max ...  INTJ   NaN

In [ ]:
# 원본데이터에 있던 데이터에는 type2가 none 이기 때문에 결측치 제거
totaldf.dropna(inplace = True)

In [ ]:
totaldf.info()

In [ ]:
totaldf.head()

In [4]:
# 축약어 데이터 처리
abbreviation_df = pd.read_csv('./data/ENG_abbreviation.csv')

abbreviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   abbreviation  513 non-null    object
 1   origin        513 non-null    object
 2   korean        510 non-null    object
dtypes: object(3)
memory usage: 12.2+ KB

In [ ]:
abbreviation = abbreviation_df['abbreviation']

abbreviation

In [ ]:
for i in range(len(abbreviation)):
    abbreviation[i].replace('/', '')


print(abbreviation)

In [ ]:
totaldf.info()

In [43]:
temp_totaldf = totaldf[totaldf['type2'].str.contains('J') | totaldf['type2'].str.contains('p')]
# temp_totaldf = totaldf[totaldf['type2'].str.contains('J')]

temp_totaldf.info()
temp_totaldf.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44435 entries, 0 to 93932
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   posts   44435 non-null  object
 1   type    44435 non-null  object
 2   type2   44435 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

                                               posts  type type2
0  know intj tool use interaction people excuse a...  INTJ     J
1  rap music ehh opp yeah know valid well know fa...  INTJ     J
2  preferably p hd low except wew lad video p min...  INTJ     J
3  drink like wish could drink red wine give head...  INTJ     J
4  space program ah bad deal meing freelance max ...  INTJ     J

In [47]:
# J/P 중복 단어 제거
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

def stopword_process(text, wordslst : list):
    
    tokens = word_tokenize(text)
    text = text.lower()

    stop_words = stopwords.words('english')
    stop_words.extend(["mbti", "infj", "intj", "infp", "intp", "enfj", "entj", "enfp", "entp",
                        "isfj", "istj", "isfp", "istp", "esfj", "estj", "esfp", "estp", "personality", "type"])
    stop_words.extend(['like', 'think', 'people', 'get', 'thing', 'make', 'know', 'feel', 'one', 'go'])
    stop_words.extend(wordslst)

    tokens = [word for word in tokens if word not in stop_words]

    changepost = ' '.join(s for s in tokens)    
    
    return changepost

stop_word_df = pd.DataFrame({'posts' : [],
                             'type' : [],
                             'type2' : []})
def duplication_words_remove(MBTI, wordslst):
    global stop_word_df
    temp_totaldf = totaldf[totaldf['type2'].str.contains(MBTI[0]) | totaldf['type2'].str.contains(MBTI[1])]

    temp_totaldf['posts'] = temp_totaldf['posts'].apply(stopword_process, args = (wordslst, ))

    stop_word_df = pd.concat([stop_word_df, temp_totaldf])


MBTIlst = [['I', 'E'], 
           ['S', 'N'],
           ['T', 'F'],
           ['J', 'P']]

remove_words = [['feel', 'time', 'say', 'good', 'would', 'really', 'want', 'way', 'see'],
                 ['know', 'time', 'really', 'good', 'feel', 'want', 'see', 'way', 'also'],
                 ['know', 'make', 'really', 'time', 'say', 'good', 'would', 'want', 'way', 'see'],
                ['say', 'time', 'good', 'would', 'really', 'want', 'way', 'see', 'also']]


for i in range(4):
    duplication_words_remove(MBTIlst[i], remove_words[i])

C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\3382554303.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_totaldf['posts'] = temp_totaldf['posts'].apply(stopword_process, args = (wordslst, ))
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\3382554303.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_totaldf['posts'] = temp_totaldf['posts'].apply(stopword_process, args = (wordslst, ))
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\3382554303.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_totaldf['posts'] = temp_totaldf['posts'].apply(stopword_process, args = (wordslst, ))
C:\Users\Playdata\AppData\Local\Temp\ipykernel_2396\3382554303.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_totaldf['posts'] = temp_totaldf['posts'].apply(stopword_process, args = (wordslst, ))

In [48]:
stop_word_df.to_csv('MBTI_remove_stopword.csv')

In [46]:
# temp_totaldf['posts'] = temp_totaldf['posts'].apply(stopword_process)
stop_word_df = pd.DataFrame({'posts' : [],
                             'type' : [],
                             'type2' : []})

stop_word_df = pd.concat([stop_word_df, temp_totaldf])
stop_word_df.head()
# temp_totaldf.head()

                                               posts  type type2
0  know intj tool use interaction people excuse a...  INTJ     J
1  rap music ehh opp yeah know valid well know fa...  INTJ     J
2  preferably p hd low except wew lad video p min...  INTJ     J
3  drink like wish could drink red wine give head...  INTJ     J
4  space program ah bad deal meing freelance max ...  INTJ     J

In [38]:
pd.concat([stop_word_df, temp_totaldf])
stop_word_df.head()

   posts  type  type2
0      1     1      1

In [35]:
temp_totaldf.head()

                                               posts  type type2
0  know intj tool use interaction people excuse a...  INTJ     J
1  rap music ehh opp yeah know valid well know fa...  INTJ     J
2  preferably p hd low except wew lad video p min...  INTJ     J
3  drink like wish could drink red wine give head...  INTJ     J
4  space program ah bad deal meing freelance max ...  INTJ     J